<!--created by ikism on Dec 7, 2016 -->

<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-controller="userController">
	<!-- Form -->
	<div style="margin: 47px">
		<h3>Login Form</h3>

		<form data-ng-submit="validate()">
			<div class="row uniform">
				<div class="4u$ 12u$(xsmall)">
					<input type="email" name="emailId" id="emailId" value=""
						placeholder="EmailId" data-ng-model="user.emailId"/>
				</div>
				<div class="4u$ 12u$(xsmall)">
					<input type="password" name="password" id="password" value=""
						placeholder="********" data-ng-model="user.password"/>
				</div>
				<!-- Break -->
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Login" /></li>
						<li><a href="#/register" class="button alt">Register</a></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</body>
</html>